.left-content {
    margin: auto 0px;
    padding: 8px !important;
}

.center-content {
    margin: auto 0px;
    padding: 8px !important;
}

.right-content {
    margin: auto 0px;
    padding: 8px !important;
}