<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Boxin</title>

	<!-- Styles -->
	<link href="../../src/assets/css/page.min.css" rel="stylesheet">
	<link href="../../src/assets/css/style.css" rel="stylesheet">
	<!-- Favicons -->
	<link rel="apple-touch-icon" href="../../assets/img/apple-touch-icon.png">
	<link rel="icon" href="../../assets/img/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	</head>

	<body>
		<div id="root"></div>
	</body>
</html>
<script src="../../src/assets/js/page.min.js"></script>
<script src="../../src/assets/js/script.js"></script>