<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<title>Boxin</title>

	<!-- Styles -->
	<link href="../../src/assets/css/page.min.css" rel="stylesheet">
	<link href="../../src/assets/css/style.css" rel="stylesheet">
	<link href="../../src/assets/css/loading.css" rel="stylesheet">
	<link href="../../src/assets/css/style-mobile.css" rel="stylesheet">
	<link href="../../src/assets/css/main.css" rel="stylesheet">
	<!-- Favicons -->
	<link rel="icon" href="assets/img/favicon.jpg" type="image/jpg" sizes="16x16">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&key=AIzaSyCe1K--R4VOp8QNEwnRSZHCRuOqCR5ZC-0">
	</script>
	</head>

	<body>
		<div id="root"></div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
<script src="../../src/assets/js/page.min.js"></script>
<script src="../../src/assets/js/script.js"></script>